.postContainer {
  padding-bottom: 15px;
}

.post {
  margin-bottom: 30px;

  .title {
    margin: 0 0 15px 0;
    text-align: center;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #ccc;
  }
}